.titulo
{

  text-align: center;
  font-size: 313%;

}

.header
{

  background-color: dodgerblue;
  padding: 3%;
  color: antiquewhite;
  font-family: helvetica;

}

.restodosite
{

  font-family: helvetica;
  padding-top: 6%;  
  background-color: ghostwhite;
 
  
}

.subtitulo
{

 font-size: 173%;
 margin-left: 48%;

}

.conteudo
{

 font-size: 148%;
 width: 32%;
 margin-left: 34%;
  
}

img
{

 width: 70%;
 height: 40%;
 border-radius: 10%;
  
}
