.titulo
{

  text-align: center;
  font-size: 313%;

}

.header
{

  background-color: dodgerblue;
  padding: 3%;
  color: antiquewhite;
  font-family: helvetica;

}

.restodosite
{

  font-family: helvetica;
  padding-top: 6%;  
  background-color: ghostwhite;
  
}

.subtitulo
{

font-size: 173%;

}
