.titulo
{

  text-align: center;
  font-size: 313%;

}

.header
{

  background-color: dodgerblue;
  padding: 3%;
  color: antiquewhite;
  font-family: helvetica;
  margin-top: 5%;

}

.restodosite
{

  font-family: helvetica;
  padding-top: 6%;  
  background-color: palegoldenrod;
 
  
}

.subtitulo
{

 font-size: 173%;
 margin-left: 46%;

}

.conteudo
{

 font-size: 148%;
 width: 32%;
 margin-left: 34%;
  
}

.subtitulo2
{

     padding-top: 2%;
    font-size: 173%;
    margin-left: 43%;
    margin-right: 33%;
}

img
{

 width: 70%;
 height: 40%;
 border-radius: 10%;
 float: right;
 padding-bottom: 3%;
  
}
